# for Mac OS X System Files
.DS_Store
Thumbs.db

# for emacs
*~
[#]*[#]

# for Eclipse
*.project

# for Logs and databases
logs
*.log

# remove SVN
.svn

#for vscode
.vscode
.history

# for Xcode
.*.swp
.clang_complete
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*/__debug_bin*

# for IDEA
*/build/*
.idea/*
*.iml
/out/*
target/
.idea
*/target
*/*.iml
*.iml


